/* Navigation Bar Styles */
* {
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 2px solid orangered;
    box-shadow: 0 0 25px 0 rgb(223, 22, 22);
    color: black;
    padding: 10px;
}

.logoImg {
    width: 40px;
    /* Adjust according to your logo size */
    height: 40px;
    /* Adjust according to your logo size */
    margin-right: 10px;

}

.brandName {
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: right;
    margin-left: 250px;
    font-size: 20px;
    font-weight: bolder;
}

/* Main Body Styles */
.myBody {
    background-color: black;
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.press {
    margin-top: 40px;
    font-size: 30px;
    /* Medium font size */
    margin-bottom: 20px;
    /* Spacing below the "Press To Talk" text */
    cursor: pointer;
    color: white;
    font-weight: bolder;
}

.bodyLogo {
    justify-content: center;
    height: auto;
    width: 95%;
    margin-top: 50px;
}

#showInput {
    background-color: rgb(232, 232, 232);
    height: auto;
    width: 80%;
    margin-top: 50px;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px rgba(253, 253, 253, 0.5);
    font-size: 15px;
    padding: 10px;
}


.webcam-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent black overlay */
    z-index: 1000;
    /* Ensure the camera is on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.myphoto {
    margin-top: -25%;
}